{% extends "base.html.twig" %}

{% block title %}Главная страница{% endblock %}

{% block body %}

    <h1>Добро пожаловать!</h1>
    {{ form(formSearchByWord) }}
        {% if isUser %}
            <h2>Дорогой {{ isUser.getEmail }}</h2>
            {% if isLandlord %}
                <a href="{{ path('addObject') }}" class="btn btn-success">Зарегистрировать новый объект</a>
            {% endif %}

            <a href="{{ path('app_profile_page') }}" class="btn btn-primary">Личный кабинет</a>
            <a href="/logout" class="btn btn-danger">Выход</a>
        {% else %}
            <h2>Дорогой Гость</h2>
            <hr>
            <p>Пожалуйста <a href="{{ path('auth') }}" class="btn btn-primary"> авторизуйтесь</a> или <a href="{{ path('app-sign-up') }}" class="btn btn-success"> зарегистрируйтесь</a></p>
        {% endif %}
            <div class="row">
            {% for object in objects %}
                <div class="col col-6 item" style="border: 3px salmon solid; border-radius: 5px; margin-bottom: 10px; box-sizing: border-box;">
                    <h1>{{ object.getNameObject }}</h1>
                    <p>Телефон {{ object.getContactPhone }}</p>
                    <p>Адрес {{ object.getAddress }}</p>
                    <p>Цена {{ object.getPrice }}</p>
                </div>
            {% endfor %}
            </div>
{% endblock %}


