{% extends 'base.html.twig' %}

{% block body %}
    <h1>Profile Page</h1>
    <h3>Добро пожаловать {{ user.getEmail }}</h3>
    <br>
    {#{% is_granted('ROLE_LANDLORD') %}#}
    {% if user.getRoles[1] == 'ROLE_LANDLORD' %}
        <p>Пожалуйста зарегистрируйте свой объект </p>
        <a href="{{ path('addObject') }}" class="btn btn-success">Зарегистрировать новый объект</a>
    {% endif %}
    <br>
    <br>
    <a href="/logout" class="btn btn-danger">Выход</a>
    <br>
    Привязать свои соц. сети к профилю
    <hr>
    <script src="//ulogin.ru/js/ulogin.js"></script>
    <div id="uLogin" data-ulogin="display=panel;theme=classic;fields=first_name,last_name;providers=vkontakte,google,facebook;hidden=;redirect_uri=http%3A%2F%2Flocalhost%3A8000%2Finclude_social;mobilebuttons=0;"></div>
{% endblock %}

{% block title %}

{% endblock %}

